@model PGM.Web.Areas.PGM.Models.TaxRate.TaxRateModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "TaxRate", FormMethod.Post, new { id = "frm" }))
{

    <div class="GroupBox">
        @Html.Partial("_CreateOrEdit", Model)
        <fieldset>
            <div class="button-crude">
                @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    <input type="submit" value="Save" id="btnSave" name="btnSubmit" style="margin-right: 8px;" />
                }
            </div>
            <div class="clear">
            </div>
        </fieldset>
    </div>
}
<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")

</div>