@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Attendance", FormMethod.Post, new { id = "frm" }))
{
    <fieldset>
        <div class="GroupBox" id="message">
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div id="ErrMsg" class="@Model.errClass">
                    @Model.ErrMsg
                </div>
            }
        </div>
        <div class="GroupBox">
            <div id="jqSearch">
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="GroupBox">
            <div class="button-crude button-left">
                @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
                {
                    @Html.ActionLink("Add New", "Create")
                }
            </div>
            <div class="clear">
            </div>
        </div>

        <table id="jqGrid" cellpadding="0" cellspacing="0"></table>
        <div id="jqGridPager" style="text-align: center;">
        </div>
        <div id="divList">
            @Html.Partial("_GridList")
        </div>
    </fieldset>
}