@model PGM.Web.Areas.PGM.Models.BankAdviceLetterTemplate.BankAdviceLetterTemplateViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "VoucherTemplate", FormMethod.Post, new { id = "frm" }))
{
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        @Html.Partial("_CreateOrEdit", Model)
        <div class="GroupBox">
            <div class="button-crude">
                @if ((new PGM.Web.Utility.AppConstant()).IsEditAssigned)
                {
                    <input type="submit" value="Update" id="btnSave" name="btnSubmit" style="margin-right: 8px;" />
                }
            </div>
        </div>
    </fieldset>
}
<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>
