@model PGM.Web.Areas.PGM.Models.WithheldSalaryPayment.WithheldSalaryPaymentViewModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Payment", "WithheldSalaryPayment", FormMethod.Post, new { id = "frm" }))
{
   
    <fieldset>
        
        @Html.Partial("_CreateOrEdit", Model)       
        <div class="button-crude">
        @if ((new PGM.Web.Utility.AppConstant()).IsEditAssigned)
        {
            <input type="submit" value="Save" id="btnSave" name="btnSubmit" style="margin-right: 8px;" />
        }
        </div>
    </fieldset>
}
<div class="button-crude button-left">
    @Html.ActionLink("Back to List", "Index")
</div>
