@model PGM.Web.Areas.PGM.Models.SalaryRevisionwithArrearAdjustment.SalaryRevisionwithArrearAdjustmentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "SalaryRevisionwithArrearAdjustment", FormMethod.Post, new { id = "frm" }))
{
    <div class="GroupBox" id="message">
        @if (Model != null && !string.IsNullOrEmpty(Model.ErrMsg))
        {
            <div class="@Model.errClass">
                @Model.ErrMsg
            </div>
        }
    </div>
    <fieldset>
        <div id="jqSearch">
        </div>
    </fieldset>
    <div class="button-crude button-left">
        @if ((new PGM.Web.Utility.AppConstant()).IsAddAssigned)
        {
            @Html.ActionLink("Add New", "Create")
        }
    </div>
    <div class="clear" style="height:10px">
    </div>
    <table id="jqGrid" cellpadding="0" cellspacing="0"></table>
    <div id="jqGridPager" style="text-align: center;">
    </div>
    <div id="divList">
        @Html.Partial("_GridList")
    </div>
}
