<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="PGMEntities" connectionString="metadata=res://*/PGM.csdl|res://*/PGM.ssdl|res://*/PGM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TVLLAP20;Initial Catalog=ERP_BEPZA;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
