<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    
  -->
  <!--<connectionStrings>
   
    <add name="ERP_BEPZAPRMEntities" connectionString="metadata=res://ERP_BEPZA.DAL.PRM/ERP_BEPZA.PRM.csdl|res://ERP_BEPZA.DAL.PRM/ERP_BEPZA.PRM.ssdl|res://ERP_BEPZA.DAL.PRM/ERP_BEPZA.PRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=ERP_BEPZA_QA;persist security info=True;user id=sa;password=sa1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZAFAMEntities" connectionString="metadata=res://*/ERP_BEPZA.FAM.csdl|res://*/ERP_BEPZA.FAM.ssdl|res://*/ERP_BEPZA.FAM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PC88\SQL2012;Initial Catalog=ERP_BEPZA_QA;Persist Security Info=True;User ID=sa;Password=sa1234;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZAPGMEntities" connectionString="metadata=res://*/ERP_BEPZA.PGM.csdl|res://*/ERP_BEPZA.PGM.ssdl|res://*/ERP_BEPZA.PGM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PC88\SQL2012;Initial Catalog=ERP_BEPZA_QA;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZACPFEntities" connectionString="metadata=res://*/ERP_BEPZA.CPF.csdl|res://*/ERP_BEPZA.CPF.ssdl|res://*/ERP_BEPZA.CPF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PC88\SQL2012;Initial Catalog=ERP_BEPZA_QA;User ID=sa;Password=sa1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZA_AMSEntities" connectionString="metadata=res://*/ERP_BEPZA.AMS.csdl|res://*/ERP_BEPZA.AMS.ssdl|res://*/ERP_BEPZA.AMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=ERP_BEPZA_QA;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZAINVEntities" connectionString="metadata=res://*/ERP_BEPZA.INV.csdl|res://*/ERP_BEPZA.INV.ssdl|res://*/ERP_BEPZA.INV.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=ERP_BEPZA_QA;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZAPMIEntities" connectionString="metadata=res://*/ERP_BEPZA.PMI.csdl|res://*/ERP_BEPZA.PMI.ssdl|res://*/ERP_BEPZA.PMI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=ERP_BEPZA_QA;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZAWFMEntities" connectionString="metadata=res://*/ERP_BEPZA.WFM.csdl|res://*/ERP_BEPZA.WFM.ssdl|res://*/ERP_BEPZA.WFM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=ERP_BEPZA_QA;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZAFMSEntities" connectionString="metadata=res://*/ERP_BEPZA.FMS.csdl|res://*/ERP_BEPZA.FMS.ssdl|res://*/ERP_BEPZA.FMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=ERP_BEPZA_QA;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZAFAREntities" connectionString="metadata=res://*/ERP_BEPZA.FAR.csdl|res://*/ERP_BEPZA.FAR.ssdl|res://*/ERP_BEPZA.FAR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=ERP_BEPZA_QA;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ERP_BEPZASMSEntities" connectionString="metadata=res://*/ERP_BEPZA.SMS.csdl|res://*/ERP_BEPZA.SMS.ssdl|res://*/ERP_BEPZA.SMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=ERP_BEPZA_QA;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DBConnectionString" connectionString="Data Source=PC88\SQL2012;Initial Catalog=ERP_BEPZA_QA;Persist Security Info=True;User ID=sa;Password=sa1234" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
  </connectionStrings>-->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>