@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Payroll Management System";
}

<div id="welcomeMsg">
    <p>@ViewBag.Title</p>
</div>

@*<div class="dashboard-bg">
    <img src="~/Content/Images/HRM-BEPZA1-home.png" alt="PGM" />
</div>*@
