@model PGM.Web.Areas.PGM.Models.TaxAdvancedPaid.AdvancedTaxPaidViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PGM/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .newFeature {
        background-color: #f00;
        font-size: smaller;
        font-style: italic;
        font-weight: bold;
        color: white;
        -ms-border-radius: 5px;
        border-radius: 5px;
        padding-left: 1px;
        padding-right: 3px;
    }

    .enhancedFeature {
        background-color: #ff8c00;
        font-size: smaller;
        font-style: italic;
        font-weight: bold;
        -ms-border-radius: 5px;
        border-radius: 5px;
        padding-left: 1px;
        padding-right: 3px;
    }

    .fixedBug {
        background-color: #c0c0c0;
        font-size: smaller;
        font-style: italic;
        font-weight: bold;
        -ms-border-radius: 5px;
        border-radius: 5px;
        padding-left: 1px;
        padding-right: 3px;
    }
</style>

<div>
    <span><h3>v2.0</h3></span><span><h6>[Release Date: 20 Jun 2017]</h6></span>

    <table class="table table-condensed table-bordered">
        <tr class="info"><td>Task:-</td></tr>
        <tr>
            <td>Employee Salary Structure <span class="newFeature">(New)</span></td>
        </tr>
        <tr>
            <td>Bank Advice Letter <span class="fixedBug">(Fixed Bug)</span></td>
        </tr>
        <tr>
            <td>Leave Encashment <span class="fixedBug">(Fixed Bug)</span></td>
        </tr>
        <tr>
            <td>Final Settlement <span class="fixedBug">(Fixed Bug)</span></td>
        </tr>

        <tr>
            <td>Withdraw Salary Withheld <span class="fixedBug">(Fixed Bug)</span></td>
        </tr>
        <tr>
            <td>Arrear Adjustment <span class="fixedBug">(Fixed Bug)</span></td>
        </tr>
        <tr>
            <td>Attendance <span class="newFeature">(New)</span></td>
        </tr>
        <tr>
            <td>Refreshment <span class="newFeature">(New)</span></td>
        </tr>
        <tr>
            <td>Import Data From Excel (Attendance, Overtime and Refreshment) <span class="newFeature">(New)</span></td>
        </tr>
    </table>

    <table class="table table-condensed table-bordered">
        <tr class="info"><td>Reports:-</td></tr>
        <tr>
            <td>Employee Basic Info <span class="newFeature">(New)</span></td>
        </tr>
        <tr>
            <td>Detail Pay Slip <span class="newFeature">(New)</span></td>
        </tr>
        <tr>
            <td>Bank Advice Letter <span class="fixedBug">(Fixed Bug)</span></td>
        </tr>
        <tr>
            <td>Leave Encashment Report <span class="enhancedFeature">(Enhanced Report Data)</span></td>
        </tr>
        <tr>
            <td>Final Settlement Report <span class="fixedBug">(Fixed Bug)</span></td>
        </tr>
        <tr>
            <td>Head Wise Report <span class="enhancedFeature">(Enhanced Report Data)</span></td>
        </tr>
        <tr>
            <td>Yearly Salary Statement <span class="newFeature">(New)</span></td>
        </tr>
    </table>


    <h3>v1.0</h3><h6>Initial Release</h6>

    <table class="table table-condensed table-bordered">
        <tr class="info"><td>Task:-</td></tr>
        <tr>
            <td>Monthly Salary Process</td>
        </tr>
        <tr>
            <td>Monthly Earning/Deduction</td>
        </tr>
        <tr>
            <td>OverTime Payment</td>
        </tr>
        <tr>
            <td>Bonus Process</td>
        </tr>
        <tr>
            <td>Income Tax</td>
        </tr>
        <tr>
            <td> Tax Opening Balance</td>
        </tr>
        <tr>
            <td> Advance Tax Paid</td>
        </tr>
        <tr>
            <td> Other Investment</td>
        </tr>
        <tr>
            <td> Tax Withheld</td>
        </tr>
        <tr>
            <td> Income Tax Computation</td>
        </tr>
        <tr>
            <td>Salary Withheld</td>
        </tr>
    </table>


    <table class="table table-condensed table-bordered">
        <tr class="info"><td>Reports:-</td></tr>
        <tr>
            <td>Monthly Salary Statement</td>
        </tr>
        <tr>
            <td>Pay Slip</td>
        </tr>
        <tr>
            <td>Bank Wise Statement</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp; - Salary</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp; - Bonus</td>
        </tr>
        <tr>
            <td>Bonus Report</td>
        </tr>
        <tr>
            <td>Overtime Bill for Staff</td>
        </tr>
        <tr>
            <td>Income Tax Computation Report</td>
        </tr>
        <tr>
            <td>Income Tax Summary</td>
        </tr>
        <tr>
            <td>Journal Voucher</td>
        </tr>
        <tr>
            <td>My Pay Slip</td>
        </tr>
    </table>

</div>

